{% extends "layout/layout.html" %} {% block title %} 管理员 {% endblock %} {% block content %}
<div class="outer-around">
    <div class="card-panel hoverable">
        <div class="row">
            <div class="col s1">
                <h6 class="bold center-align">uid</h6>
            </div>
            <div class="col s1">
                <h6 class="bold center-align">头像</h6>
            </div>
            <div class="col s1">
                <h6 class="bold center-align">用户名</h6>
            </div>
            <div class="col s2">
                <h6 class="bold center-align">密码</h6>
            </div>
            <div class="col s2">
                <h6 class="bold center-align">用户组</h6>
            </div>
            <div class="col s1">
                <h6 class="bold center-align">用户真实姓名</h6>
            </div>
            <div class="col s1">
                <h6 class="bold center-align">手机号</h6>
            </div>
            <div class="col s1">
                <h6 class="bold center-align">qq</h6>
            </div>
            <div class="col s2">
                <h6 class="bold center-align">操作</h6>
            </div>
        </div>
        {% for user in allUsers %}

        <div class="row">
            <form action="/admin_user_update/" method="post">
                <div class="col s1">
                    <input name="uid" type="text" class="validate" value="{{ user['uid'] }}">
                </div>
                <div class="col s1">
                    <img class="circle materialboxed" height=32px style="margin:auto" src="{{ user['avatar'] }}">
                </div>
                <div class="col s1">
                    <input name="username" type="text" class="validate" value="{{ user['username'] }}">
                </div>
                <div class="col s2">
                    <input name="password" type="text" class="validate" value="{{ user['password'] }}">
                </div>
                <div class="col s2 {% if user['usergroup']=='1' and user['realname'] %}pink lighten-4{% endif %}">
                    <select name="usergroup" type="select">
                        <option value="0" {% if user[ 'usergroup']=='0' %}selected{% endif %}>管理员</option>
                        <option value="1" {% if user[ 'usergroup']=='1' %}selected{% endif %}>注册用户</option>
                        <option value="2" {% if user[ 'usergroup']=='2' %}selected{% endif %}>实名用户</option>
                    </select>
                </div>
                <div class="col s1">
                    <input name="realname" type="text" class="validate" value="{{ user['realname'] }}">
                </div>
                <div class="col s1">
                    <input name="phone" type="text" class="validate" value="{{ user['phone'] }}">
                </div>
                <div class="col s1">
                    <input name="qq" type="text" class="validate" value="{{ user['qq'] }}">
                </div>

                <div class="col s1">
                    <button class="btn waves-effect waves-light" type="submit" name="action">保存
                    </button>
                </div>
            </form>
            <form action="/admin_user_del/" method="post">
                <div class="col s1">
                    <input name="uid" type="hidden" class="validate" value="{{ user['uid'] }}">
                    <button class="btn waves-effect waves-light" type="submit" name="action">删除
                    </button>
                </div>
            </form>
        </div>

        {% endfor %} {{ message | safe }}
    </div>
</div>
</div>


</div>

{% endblock %} {% block script %}
<script>
    $(document).ready(function () {
        $('select').material_select();
    });

</script> {% endblock %}