<footer class="page-footer grey lighten-3 ">
    <div class="container">
        <div class="row">
            <div class="center black-text">
                <a href="/contact/">联系我们</a>|
                <a href="/agreement/">服务协议</a>|
                <a href="/join/">加入我们</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey lighten-3">
        <div class="container center uuu-text">
            © 3U旅游众筹服务平台
        </div>
    </div>
</footer>

<link type="text/css" rel="stylesheet" href="/static/css/local.css" media="screen,projection" />
<script type="text/javascript" src="/static/js/local.js"></script>