<header>
    <nav>
        <div class="nav-wrapper grey lighten-4">
            <a href="/" class="left">
                <div class="uuu" style="height:64px">
                    <img src="/static/img/logo2.png" height=64px alt="3U旅游众筹">
                </div>
            </a>


            <div class="left" style="margin-left:15px">
                <ul class="mainnav">
                    <li class="nav1">
                        <a class="black-text" href="/">首页</a>
                    </li>
                    <li>
                        <a class="black-text" href="/projects.html">更多项目</a>
                    </li>
                    <li>
                        <a class="black-text" href="/new_projects.html">发起项目</a>
                    </li>
                    <li>
                        <a class="black-text" href="/help.html">我的U圈</a>
                    </li>
                    <li>
                        <a class="black-text" href="/about.html">关于我们</a>
                    </li>
                    <li>
                        <a class="black-text" href="/help.html">帮助中心</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="material-icons black-text">search</i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="right">
                <ul class="login-button">
                    <li>
                        <a class="uuu-text" href="/">注册</a>
                    </li>
                    <li>
                        <a class="uuu-text" href="/">登录</a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>
</header>