<header>
    <nav class="hide-on-med-and-down">
        <div class="nav-wrapper grey lighten-4">
            <a href="/" class="left">
                <div class="uuu" style="height:64px">
                    <img src="/static/img/logo2.png" height=64px alt="3U旅游众筹">
                </div>
            </a>


            <div class="left" style="margin-left:15px">
                <ul class="mainnav">
                    <li class="nav1">
                        <a class="black-text" href="/">首页</a>
                    </li>
                    <li class="nav2">
                        <a class="black-text" href="/projects.html">更多项目</a>
                    </li>
                    <li class="nav3">
                        <a class="black-text" href="/add_project">发起项目</a>
                    </li>
                    <li class="nav4">
                        <a class="black-text" href="/help.html">我的U圈</a>
                    </li>
                    <li class="nav5">
                        <a class="black-text" href="/about.html">关于我们</a>
                    </li>
                    <li class="nav6">
                        <a class="black-text" href="/help.html">帮助中心</a>
                    </li>
                    <li class="nav7">
                        <a href="javascript:;">
                            <i class="material-icons black-text">search</i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="right">
                <ul>
                    {% if session['user'] %}
                    <li class="valign-wrapper" style="width:64px">
                        <a href="/config/" class="valign">
                            <img class="circle responsive-img valign" style="margin:10px 0 -10px 0" src="{{ session['user']['avatar'] }}">
                        </a>
                    </li>
                    <li>
                        <a href="/config/" class="black-text ">{{ session['user']['username'] }}</a>
                    </li>
                    {% if session['user']['usergroup'] == '0' %}
                    <li>
                        <a href="/admin/" class="blue-text">管理员界面</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/logout/ " class="blue-text">退出登陆</a>
                    </li>
            </div>
            {% else %}
            <li>
                <a class="uuu-text " href="/register ">注册</a>
            </li>
            <li>
                <a class="uuu-text " href="/login ">登录</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>


    <nav class="hide-on-large-only">
        <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="button-collapse left">
                <i class="material-icons">menu</i>
            </a>
            <a href="/" class="center">
                <div class="uuu" style="height:64px">
                    <img src="/static/img/logo2.png" height=64px alt="3U旅游众筹">
                </div>
            </a>

        </div>
    </nav>
    <script>
        $(".button-collapse").sideNav();
    </script>
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                {% if session['user'] %}

                <a href="/config/">
                    <img class="circle" src="{{ session['user']['avatar'] }}">
                </a>
                <a href="/config/">
                    <span class="black-text name">{{ session['user']['username'] }}</span>
                </a>
                <a href="/logout/ " class="blue-text ">退出登陆</a>
                {% else %}
                <a class="uuu-text " href="/register ">注册</a>
                <a class="uuu-text " href="/login ">登录</a>
                {% endif %}
            </div>
        </li>
        <li class="nav1">
            <a class="black-text" href="/">首页</a>
        </li>
        <li class="nav2">
            <a class="black-text" href="/projects.html">更多项目</a>
        </li>
        <li class="nav3">
            <a class="black-text" href="/add_project">发起项目</a>
        </li>
        <li class="nav4">
            <a class="black-text" href="/help.html">我的U圈</a>
        </li>
        <li class="nav5">
            <a class="black-text" href="/about.html">关于我们</a>
        </li>
        <li class="nav6">
            <a class="black-text" href="/help.html">帮助中心</a>
        </li>
        <li class="nav7">
            <a href="javascript:;">
                <i class="material-icons black-text">search</i>
            </a>
        </li>
    </ul>



</header>